<h1>Field Groups</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Label</th>
      <td>Tag</td>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @field_groups.each do |field_group| %>
      <tr>
        <td><%= field_group.id %></td>
        <td><%= link_to field_group.label, field_group_path(field_group) %></td>
        <td><%= link_to field_group.tag.name, field_group.tag if field_group.tag %></td>
        <td><%= field_group.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_field_group_path(field_group), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', field_group_path(field_group), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_field_group_path, :class => 'btn btn-primary' %>
