<h1>/Field Group</h1>

<p>
  <b>Name</b><br>
  <%= @field_group.name %>
</p>

<p>
  <b>Label</b><br>
  <%= @field_group.label %>
</p>

<p>
  <b>Position</b><br>
  <%= @field_group.position %>
</p>

<p>
  <b>Tag</b><br>
  <%= @field_group.tag_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', field_groups_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_field_group_path(@field_group), :class => 'btn' %>
  <%= link_to 'Add a field', new_field_path(field_group_id: @field_group.id), :class => 'btn' %>
  <%= link_to 'Delete', field_group_path(@field_group), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
