<%= form_for @company, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Company</legend>

    <div class="control-group">
      <%= f.label :compNameEN, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :compNameEN, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :compNameCN, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :compNameCN, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :businessLine, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :businessLine, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :foundationDate, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :foundationDate, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :legalDuration, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :legalDuration, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :legalNature, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :legalNature, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :registeredCapital, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :registeredCapital, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :investment, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :investment, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :corpRepresentative, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :corpRepresentative, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :regAddressEN, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :regAddressEN, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :regAddressCN, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :regAddressCN, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :operAddressEN, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :operAddressEN, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :operAddressCN, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :operAddressCN, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :postCode, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :postCode, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :tel, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tel, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :fax, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :fax, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :province, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :province, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :city, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :city, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :county, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :county, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :datasource, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :datasource, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :memo, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :memo, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :registeredCapitalRMB, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :registeredCapitalRMB, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :investmentRMB, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :investmentRMB, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :status, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :status, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :statusYear, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :statusYear, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :auditFlag, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :auditFlag, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', companies_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
