<h1>Companys</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Compnameen</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= link_to company.compNameEN, company_path(company) %></td>
        <td><%= company.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_company_path(company), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', company_path(company), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_company_path, :class => 'btn btn-primary' %>
