<p id="notice"><%= notice %></p>

<p>
  <b>Compnameen:</b>
  <%= @company.compNameEN %>
</p>

<p>
  <b>Compnamecn:</b>
  <%= @company.compNameCN %>
</p>

<p>
  <b>Businessline:</b>
  <%= @company.businessLine %>
</p>

<p>
  <b>Foundationdate:</b>
  <%= @company.foundationDate %>
</p>

<p>
  <b>Legalduration:</b>
  <%= @company.legalDuration %>
</p>

<p>
  <b>Legalnature:</b>
  <%= @company.legalNature %>
</p>

<p>
  <b>Registeredcapital:</b>
  <%= @company.registeredCapital %>
</p>

<p>
  <b>Investment:</b>
  <%= @company.investment %>
</p>

<p>
  <b>Corprepresentative:</b>
  <%= @company.corpRepresentative %>
</p>

<p>
  <b>Regaddressen:</b>
  <%= @company.regAddressEN %>
</p>

<p>
  <b>Regaddresscn:</b>
  <%= @company.regAddressCN %>
</p>

<p>
  <b>Operaddressen:</b>
  <%= @company.operAddressEN %>
</p>

<p>
  <b>Operaddresscn:</b>
  <%= @company.operAddressCN %>
</p>

<p>
  <b>Postcode:</b>
  <%= @company.postCode %>
</p>

<p>
  <b>Tel:</b>
  <%= @company.tel %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Province:</b>
  <%= @company.province %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>County:</b>
  <%= @company.county %>
</p>

<p>
  <b>Datasource:</b>
  <%= @company.datasource %>
</p>

<p>
  <b>Memo:</b>
  <%= @company.memo %>
</p>

<p>
  <b>Registeredcapitalrmb:</b>
  <%= @company.registeredCapitalRMB %>
</p>

<p>
  <b>Investmentrmb:</b>
  <%= @company.investmentRMB %>
</p>

<p>
  <b>Status:</b>
  <%= @company.status %>
</p>

<p>
  <b>Statusyear:</b>
  <%= @company.statusYear %>
</p>

<p>
  <b>Auditflag:</b>
  <%= @company.auditFlag %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
