<h1>/Company</h1>

<p>
  <b>Compnameen</b><br>
  <%= @company.compNameEN %>
</p>

<p>
  <b>Compnamecn</b><br>
  <%= @company.compNameCN %>
</p>

<p>
  <b>Businessline</b><br>
  <%= @company.businessLine %>
</p>

<p>
  <b>Foundationdate</b><br>
  <%= @company.foundationDate %>
</p>

<p>
  <b>Legalduration</b><br>
  <%= @company.legalDuration %>
</p>

<p>
  <b>Legalnature</b><br>
  <%= @company.legalNature %>
</p>

<p>
  <b>Registeredcapital</b><br>
  <%= @company.registeredCapital %>
</p>

<p>
  <b>Investment</b><br>
  <%= @company.investment %>
</p>

<p>
  <b>Corprepresentative</b><br>
  <%= @company.corpRepresentative %>
</p>

<p>
  <b>Regaddressen</b><br>
  <%= @company.regAddressEN %>
</p>

<p>
  <b>Regaddresscn</b><br>
  <%= @company.regAddressCN %>
</p>

<p>
  <b>Operaddressen</b><br>
  <%= @company.operAddressEN %>
</p>

<p>
  <b>Operaddresscn</b><br>
  <%= @company.operAddressCN %>
</p>

<p>
  <b>Postcode</b><br>
  <%= @company.postCode %>
</p>

<p>
  <b>Tel</b><br>
  <%= @company.tel %>
</p>

<p>
  <b>Fax</b><br>
  <%= @company.fax %>
</p>

<p>
  <b>Province</b><br>
  <%= @company.province %>
</p>

<p>
  <b>City</b><br>
  <%= @company.city %>
</p>

<p>
  <b>County</b><br>
  <%= @company.county %>
</p>

<p>
  <b>Datasource</b><br>
  <%= @company.datasource %>
</p>

<p>
  <b>Memo</b><br>
  <%= @company.memo %>
</p>

<p>
  <b>Registeredcapitalrmb</b><br>
  <%= @company.registeredCapitalRMB %>
</p>

<p>
  <b>Investmentrmb</b><br>
  <%= @company.investmentRMB %>
</p>

<p>
  <b>Status</b><br>
  <%= @company.status %>
</p>

<p>
  <b>Statusyear</b><br>
  <%= @company.statusYear %>
</p>

<p>
  <b>Auditflag</b><br>
  <%= @company.auditFlag %>
</p>

<div class="form-actions">
  <%= link_to 'Back', companies_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_company_path(@company), :class => 'btn' %>
  <%= link_to 'Delete', company_path(@company), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
