<h1>Tags</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.id %></td>
        <td><%= link_to tag.name, tag_path(tag) %></td>
        <td>
          <%= link_to 'Edit', edit_tag_path(tag), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', tag_path(tag), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_tag_path, :class => 'btn btn-primary' %>
