<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Product</legend>

    <%= render :partial => "common/form_error", :locals => { model: @product } %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :company_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :company_id, options_for_select(Company.all.collect{|company| [company.compNameCN, company.id]}, @product.company_id), {:include_blank => true}, {:class => "chzn-select"}%>
      </div>
    </div>

    <% asset = controller_name.singularize %>

    <div class="control-group">
      <%= f.label :field_group_list, :class => 'control-label' %>
      <div class="controls">
        <%= select_tag "product[field_group_list][]", options_for_select(FieldGroup.all.map{|group| [group.label, group.id] }, @product.field_groups.map{|group| group.id}), {multiple: true, :"data-placeholder" => "input the product type", stype: "width: 500px;", class: "chzn-select"} %>
      </div>
    </div>

    <%= render 'fields/groups', :f => f %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', products_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
