<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Product</legend>

    <%= render :partial => "common/form_error", :locals => { model: @product } %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :company_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :company_id, options_for_select(Company.all.collect{|company| [company.compNameCN, company.id]}, @product.company_id), :include_blank => true %>
      </div>
    </div>

    <% asset = controller_name.singularize %>
    <% f.object.tags = unsaved_param_tags(asset) if params[asset] && params[asset][:tag_list] %>

    <div class="control-group">
      <%= f.label :tags, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :tag_list, Tag.all.map{|t| [t.name, t.name] }, {value: f.object.tags.map{|t| t.name }}, {multiple: true, :"data-placeholder" => "input you tags", stype: "width: 500px;"} %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', products_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
