<% if @errors.present? %>
  <h1>Failure</h1>
  <ul>
    <% @errors.each do |error| %>
      <li>
      Problems in line number <%= error[0] %>:
      <% error[1].full_messages.each do |msg|%>
        <p><%= msg %> </p>
      <%end%>
      </li>
    <% end %>
  </ul>
<%else%>
  <h1>Success to import <%= @products.size %> products</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Type</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= link_to product.company.compNameCN, product.company %></td>
          <td>
            <% product.field_groups.each do |t| %>
              <%= link_to t.label, field_group_path(t) %>
            <% end %>
          </td>
          <td><%= product.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
