<h1>Product</h1>

<p>
<b>Name</b><br>
<%= @product.name %>
</p>

<p>
<b>Company</b><br>
<%= @product.company_id %>
</p>

<p>
<b>Type</b><br />
<%= @product.field_groups.map(&:label).join(", ") %>
</p>

<h3>Custom Field</h3>
<% @product.field_groups.each do |group| %>
  <% if group.fields.present? %>
    <h3><%= group.label %></h3>
    <% group.fields.each do |field| %>
      <p>
      <b><%= field.label %></b><br />
      <% if field.as == "multiselect" %>
        <%= YAML.load(@product.send(field.name)).join(", ") if @product.send(field.name) %>
      <% else %>
        <%= @product.send(field.name) %>
      <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>

<div class="form-actions">
  <%= link_to 'Back', products_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn' %>
  <%= link_to 'Delete', product_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
