<tr id="<%= dom_id field %>" >
  <td><%= field.label %></td>
  <td><%= field.as %></td>
  <td>
    <%= link_to 'Edit', edit_field_group_field_url(field.field_group, field), :class => 'btn btn-mini', remote: true %>
    <%= link_to 'Destroy', [field.field_group, field], :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger', remote: true %>
  </td>
</tr>
