<%= form_for @field, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Field</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :label, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :label, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :field_group_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :field_group_id, options_for_select(FieldGroup.all.collect{ |group| [group.label, group.id] }, params[:field_group_id] || @field.field_group_id) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :as, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :as, field_edit_as_options(f.object) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Select options(pipe seperated)", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :collection_string, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :position, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :position, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', fields_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
