<%= form_for [@field_group, @field], remote: true, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Field</legend>

    <%= render :partial => "common/form_error", :locals => { model: @field } %>

    <div class="control-group">
      <%= f.label :label, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :label, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :as, :class => 'control-label' %>
      <div class="controls <%= dom_id(@field_group) %>_select" >
        <%= f.select :as, field_edit_as_options(f.object) %>
      </div>
    </div>

    <div class="control-group" style="display:none" id="<%= dom_id(@field_group) %>_collection">
      <%= f.label :collection, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :collection, :class => 'text_field', :placeholder => "use comm to seperate choices" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :position, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :position, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <a onclick="$('#<%= dom_id @field, action_name %>').html('');return false;", class='btn'>Cancel</a>
    </div>
  </fieldset>
<% end %>
