<div id=<%= "field_group_#{field_group.id}_container" %> style="border:2px solid #999; margin: 20px;">
  <h3 align="center"><%= field_group.name %></h3>
  <% field_group.fields.each do | field | %>
    <div class="control-group">
      <%= f.label field.name, field.label, :class => 'control-label' %>
      <div class="controls">
        <% if field.as == "date" %>
          <%= f.text_field field.name, :class => "datepicker" %>
        <% elsif field.as == "select" %>
          <%= f.select field.name, options_for_select(field.collection.split(",").collect{|str| [str, str]}, f.object.send(field.name).to_s), {:include_blank => true}, {:class => "chzn-select"}%>
        <% elsif field.as == "multiselect" %>
          <% checked = YAML.load(f.object.send(field.name).to_s) %>
          <%= select_tag "product[#{field.name}][]", options_for_select(field.collection.split(",").collect{|str| [str, str] }, checked), {multiple: true, :"data-placeholder" => "input the product type", stype: "width: 500px;", class: "chzn-select"} %>
        <% elsif field.as == "text" %>
          <%= f.text_area field.name, :class => 'text_area', :rows => 4 %>
        <% else %>
          <%= f.text_field field.name, :class => 'text_field' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
