<h1>Listing fields</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Field group</th>
    <th>As</th>
    <th>Collection</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fields.each do |field| %>
  <tr>
    <td><%= field.name %></td>
    <td><%= field.label %></td>
    <td><%= field.field_group_id %></td>
    <td><%= field.as %></td>
    <td><%= field.collection %></td>
    <td><%= field.position %></td>
    <td><%= link_to 'Show', field %></td>
    <td><%= link_to 'Edit', edit_field_path(field) %></td>
    <td><%= link_to 'Destroy', field, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field', new_field_path %>
