<h1>/Field</h1>

<p>
  <b>Name</b><br>
  <%= @field.name %>
</p>

<p>
  <b>Label</b><br>
  <%= @field.label %>
</p>

<p>
  <b>Field group</b><br>
  <%= @field.field_group.label %>
</p>

<p>
  <b>As</b><br>
  <%= @field.as %>
</p>

<p>
  <b>Collection</b><br>
  <%= @field.collection %>
</p>

<p>
  <b>Position</b><br>
  <%= @field.position %>
</p>

<div class="form-actions">
  <%= link_to 'Back', fields_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_field_path(@field), :class => 'btn' %>
  <%= link_to 'Delete', field_path(@field), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
