<div class="span3">
  <div class="well sidebar-nav">
    <h3>Sidebar</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Competitor</li>
      <li><%= link_to "List", companies_path %></li>
      <li><%= link_to "New", new_company_path %></li>
      <li class="nav-header">Product Manage</li>
      <li><%= link_to "Manage", "#"  %></li>
      <li><%= link_to "Export", "#"  %></li>
      <li><%= link_to "Import", "#"  %></li>
      <li class="nav-header">Product List</li>
      <li><%= link_to "List", "#"  %></li>
      <li><%= link_to "New", "#"  %></li>
      <li class="nav-header">Settings</li>
      <li><%= link_to "Config", "#"  %></li>
    </ul>
  </div>
</div>
